#popupfoot{
    font-family: "Swz721c" !important;
    font-size: 14px;
    padding: 10px 20px;

}
#popupfoot a{
    text-decoration: none;
    background-color: #480000 !important;
}
.agree:hover{
    background-color: #ff0000 !important;
}
.popupoption:hover{
    background-color:#D1D1D1;
    color: green;
}
.close {
    float: right;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-shadow: 0 !important;
    filter: alpha(opacity=0) !important;
    margin-top: 20px;
    padding: 6px 40px !important;
    margin-bottom: 0;
    text-align: center;
    color:#fff;
}
.btn{ border-radius: 0px !important;}
