 @media only screen and (max-width: 240px) {
	 .social-icons ul{ text-align:center; margin:5px 0px;}
	 .navbar-brand img{ margin:0 auto;}
	 .footer_nav ul{ text-align:center;}
	 footer{ padding:10px 15px;}
	 .detailbtn button {margin-left:10px;}
 
	 }
 @media only screen and (max-width: 320px) {
	 .social-icons ul{ text-align:center; margin:5px 0px;}
	 .navbar-brand img{ margin:0 auto;}
	 .footer_nav ul{ text-align:center;}
	 footer{ padding:10px 15px;}
	 .detailbtn button {margin-left:10px;}


}
 @media only screen and (max-width: 480px) {
	 .social-icons ul{ text-align:center; margin:5px 0px;}
	 .navbar-brand img{ margin:0 auto;}
	 .footer_nav ul{ text-align:center;}

	 footer{ padding:10px 15px;}
	 .detailbtn button {margin-left:10px;}

}
 @media only screen and (max-width: 360px) {
	 .social-icons ul{ text-align:center; margin:5px 0px;}
	 .navbar-brand img{ margin:0 auto;}

	 .footer_nav ul{ text-align:center;}
	 footer{ padding:10px 15px;}
	 .detailbtn button {margin-left:10px;}

}



